PennFudanPed
__pycache__
*.json
datasets*
datasets/PennFudanPed
datasets/PRW
datasets/PRW_MINI_2
datasets/PRW_seg
datasets/PRW_SEG_VOC_MIX
datasets/PRW_VOC
exps*
checkpoint*
*.sh
nohup.out
models/learn_maskrcnn/images
models/learn_maskrcnn/model
models/mask_rcnn/save_weights/
.idea
datasets/__pycache__/
